body{
	background: linear-gradient(rgba(0, 0, 50, 0.5) , rgba(0, 0, 50, 0.5)), url(https://phonoteka.org/uploads/posts/2021-05/1620928316_5-phonoteka_org-p-fon-dlya-menyu-stolovoi-6.jpg);
    background-size: cover;
    background-position: center;
   }
.login-box{
   	max-width: 800px;
   	float: none;
   	margin: 180px auto;
   }
.login-left{
   	background: rgba(211, 211,211, 0.5);
   	padding: 30px;
   }
.login-right{
   	background: #fff;
   	padding: 30px;
   }
.form-control{
   	background-color: transparent !important;
   }
.warning{
    width: 100%;
    min-height: 50px;
    border: 1px double black;
    border-radius: 10%;
   }
.warning_text{
    color: #ccc;
    
   }
